{% set isSpecial = true %}
{% extends "@templates/base/base.twig" %}

{% block header %}
  {% include '@organisms/header/header-light.twig' with { site_title: 'Event title', dropdown: true } %}
{% endblock %}

{% block breadcrumb %}
<div class="breadcrumb-container">
  {% include '@molecules/breadcrumb/breadcrumb.twig' %}
</div>
{% endblock %}

{% block content %}

<div class="container-full py-5">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-12">
        <h2>Rechercher une personne</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="p-4 border my-3">
        <h3 class="mb-4">Rechercher</h3>
        <div class="form-group">
          <label for="awesome-input">Nom</label>
          {% include '@atoms/input/input.twig' %}
        </div>
      </div>
      </div>
    </div>

    
  </div>
</div>
{% endblock %}

