{% extends "@pages/partials/layout.twig" %}

{% block grid %}{% endblock %}

{% block fullintro %}
<div class="tlbx-single-full-intro d-flex justify-content-between">
  <h1 class="h3 my-0">Laboratory page</h1>
  <button class="btn btn-sm btn-primary" id="start">Start the tour !</button>
</div>
{% endblock %}


{% block content %}
<div class="container" id="lab">
  <div class="hero" id="step1">
    <div class="hero-content-container">
      <h1 class="hero-title">Data center systems laboratory DCSL</h1>
    </div>
    <div class="hero-img">
      <img src="images/gallery/gallery_01.jpg" alt="IMAGE DESCRIPTION HERE" class="img-fluid">
    </div>
  </div>

  <div class="container-grid mt-5 mb-6" id="step2">
    <p>
      We focus on interdisciplinary systems problems found in modern, large-scale datacenters. Our current research projects include specialized operating systems for datacenter applications, hardware support for software-defined networking, and energy-efficient, rack-scale computing.
    </p>
  </div>
</div>

<div class="bg-gray-100 py-5 mb-5" id="step3">
  <div class="container">
    <h2 class="mb-4">DCSL is part of</h2>
    <div class="row">
      <div class="col-md-6">
        {% include '@components/teaser-mission/teaser-mission-faculty.twig' %}
      </div>
      <div class="col-md-6">
        {% include '@components/teaser-mission/teaser-mission-institute.twig' %}
      </div>
      <div class="col-12">
        <h3>Themes</h3>
        {% for i in 1..5 %}
          <a href="#" class="tag tag-primary">Theme {{i}}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="step4">
    <h2 class="mb-4">Our current projects</h2>
    <div class="row">
      {% for i in 1..3 %}
        <div class="col-md-4">
          {% include '@components/teaser-mission/teaser-mission-research-project.twig' %}
        </div>
      {% endfor %}
    </div>
    <p class="text-center">
      <a class="link-pretty" href="#">See all projects</a>
    </p>
  </div>

  <div id="step5">
    <h2 class="mb-4 mt-6">Our publications</h2>
    {% include '@components/publication/publication.twig' %}
    <p class="text-center">
      <a class="link-pretty" href="#">See all publications</a>
    </p>
  </div>

  <div id="step6">
    <h2 class="mb-4 mt-6">The last news</h2>
    <div class="row">
      {% for i in 1..2 %}
        <div class="col-md-6">
          {% include '@components/news/news-basic-teaser.twig' %}
        </div>
      {% endfor %}
    </div>
    <p class="text-center">
      <a class="link-pretty" href="#">See all news</a>
    </p>
  </div>
</div>

<div class="bg-gray-100 py-5 my-5" id="step7">
  <div class="container">
    {% include '@components/contact/contact-banner.twig' %}
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6" id="step8">
      {% include '@components/teaser-basic-page/teaser-basic-page.twig' %}
    </div>
    <div class="col-md-6" id="step9">
      <h3 class="mb-4">Our sponsors</h3>
      {% include '@components/media/media-sponsor.twig' %}
      {% include '@components/media/media-sponsor.twig' %}
    </div>
  </div>
</div>
{% endblock %}
